body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-card {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  background-color: #222222;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.video-card:hover {
  transform: translateY(-5px);
}

.video-card img {
  width: 100%;
  /* height: 200px; */
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.video-card h2 {
  font-size: 24px;
  margin: 20px;
}

.video-card p {
  font-size: 18px;
  margin: 0 20px 20px;
}

@media screen and (max-width: 1024px) {
  .video-card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .video-card {
    width: 100%;
  }
}
