* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
}

header {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 10px;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 0 20px;
}

main {
  padding: 20px;
  text-align: center;
}

form {
  display: inline-block;
  margin: 0 auto;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #be6969;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #666;
}

/* ******************* Movie card styles **************** */

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px;
  height: 600px;
  width: 350px;
  box-shadow: 0 0 10px black;
  background: #333;
  border-radius: 5px;
}

/* .movie-card img {
  border-radius: 5px 5px 0 0;
  height: 65%;
} */

.movie-details {
  padding: 20px;
  height: 40%;

  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

/* ******************NEW*********** */
.movie-poster {
  height: 360px;
  border-radius: 5px 5px 0 0;

  width: 100%;
  background-size: cover;
}

.movie-title {
  font-size: 1.6rem;
  color: #eee;
  margin-top: 0;
  margin-bottom: 10px;
}

.movie-release {
  font-size: 0.8rem;
  margin-top: -8px;
  color: gray;
}

.overview-head {
  color: #f44336;
  margin: 12px 0;
}

.overview {
  font-style: italic;
  font-size: 0.9rem;
  color: #eee;
  margin-bottom: 15px;
  /* color: #be6969; */
}
/* .movie-description {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
  } */

button {
  padding: 3px 8px;
  background-color: transparent;
  border: 1px solid #f44336;
  color: #f44336;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #f44336;
  color: #eee;
  border: 1px solid #eee;
}

/* .movie-button {
  padding: 10px 20px;
  background-color: #be6969;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.movie-button:hover {
  background-color: #555;
} */
